.wd-tabs li {
    display: inline;
}

.wd-tabs {
    padding-left: 0;
}

.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}

.wd-nudge-up {
    bottom: 18px;
    left: 25px;
}

.wd-bottom-2 {
    bottom: 2px;
}

.wd-bottom-4 {
    bottom: 4px;
}
