.class-0 {
    background-color: red;
    color: white;
}

.class-1 {
    background-color: blue;
    color: white;
}

.class-2 {
    background-color: green;
    color: yellow;
}

.im-hidden {
    display: none;
}
